@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: rgb(41 37 36 / 1);
  overflow-x: hidden;
}
.wrapper {
  max-width: 869px;
  padding: 0 16px;
  margin: 0 auto;
}
.char-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.char-container .line {
  display: flex;
  gap: 3px;
}
.char-container .line .box {
  width: 11px;
  height: 11px;
  border-radius: 2px;
}
.char-container .line .box.active {
  background: #3aad52;
}
